.cover__subtitle {
  border: 1px solid red;
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
   max-width: 360px;
  text-align: center;
  grid-column: 3/5;
  grid-row: 3/4;
  z-index: 2;


}

@media screen and (max-width:728px) {
  .cover__subtitle {
font-size: 14px;
line-height: 16px;
  }
}

@media screen and (max-width:460px) {
  .cover__subtitle {
    grid-column: 2/6;
}
}
