.website {
  max-width: 456px;
  align-self: end;
  margin-bottom: 48px;
  grid-column: 2;
}

@media screen and (max-width:460px) {
  .website {
    margin-bottom: 32px;
    margin-left: 16px;
    margin-right: 16px;
  }
}
