.place__website {
  border: 1px solid red;
  max-width: 456px;
  max-height: 46px;
  align-self: end;
  margin-bottom: 48px;
  grid-column: 2;
}

@media screen and (max-width:460px) {
  .place__website {
    margin-bottom: 32px;
  }
}
